<a href="https://colab.research.google.com/github/np03cs4a240249-ctrl/ai/blob/main/Workshop_2_Bishal_Budha.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
data  = {
    'name': ['alice', 'bob', 'charlie'],
    'age' : [25, 30, 35],
    'salary' : [50000, 60000, 70000]
}

df = pd.DataFrame(data)

print(df.head(2))

    name  age  salary
0  alice   25   50000
1    bob   30   60000

In [ ]:
print(df.tail(2))

      name  age  salary
1      bob   30   60000
2  charlie   35   70000

In [ ]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   name    3 non-null      object
 1   age     3 non-null      int64
 2   salary  3 non-null      int64
dtypes: int64(2), object(1)
memory usage: 204.0+ bytes
None

In [ ]:
print(df.describe())

        age   salary
count   3.0      3.0
mean   30.0  60000.0
std     5.0  10000.0
min    25.0  50000.0
25%    27.5  55000.0
50%    30.0  60000.0
75%    32.5  65000.0
max    35.0  70000.0

In [ ]:
print(f"The Dataframe has {df.shape[0]} rows and {df.shape[1]} columns.")

The Dataframe has 3 rows and 3 columns.

In [ ]:
print(df['age'])

0    25
1    30
2    35
Name: age, dtype: int64

In [ ]:
print(df.iloc[0])
print(df.loc[df['age'] > 30])

name      alice
age          25
salary    50000
Name: 0, dtype: object
      name  age  salary
2  charlie   35   70000

These are the solutions to all problems of workshops 2

In [43]:
import pandas as pd

df = pd.read_csv("/content/drive/MyDrive/Bishal AI Nasty/bank.csv")

a = df.select_dtypes(include="object").columns
print(a)

b = {col: df[col].unique() for col in a}
print(b)

c = df.isnull().sum()
print(c)

df_numeric = df.drop(columns=a)
df_numeric.to_csv("banknumericdata.csv", index=False)

df2 = pd.read_csv("banknumericdata.csv")
print(df2.describe())

Index(['job', 'marital', 'education', 'default', 'housing', 'loan', 'contact',
       'month', 'poutcome', 'y'],
      dtype='object')
{'job': array(['management', 'technician', 'entrepreneur', 'blue-collar',
       'unknown', 'retired', 'admin.', 'services', 'self-employed',
       'unemployed', 'housemaid', 'student'], dtype=object), 'marital': array(['married', 'single', 'divorced'], dtype=object), 'education': array(['tertiary', 'secondary', 'unknown', 'primary'], dtype=object), 'default': array(['no', 'yes'], dtype=object), 'housing': array(['yes', 'no'], dtype=object), 'loan': array(['no', 'yes'], dtype=object), 'contact': array(['unknown', 'cellular', 'telephone'], dtype=object), 'month': array(['may', 'jun', 'jul', 'aug', 'oct', 'nov', 'dec', 'jan', 'feb',
       'mar', 'apr', 'sep'], dtype=object), 'poutcome': array(['unknown', 'failure', 'other', 'success'], dtype=object), 'y': array(['no', 'yes'], dtype=object)}
age          0
job          0
marital      0
education    0
default      0
balance      0
housing      0
loan         0
contact      0
day          0
month        0
duration     0
campaign     0
pdays        0
previous     0
poutcome     0
y            0
dtype: int64
                age        balance           day      duration      campaign  \
count  45211.000000   45211.000000  45211.000000  45211.000000  45211.000000
mean      40.936210    1362.272058     15.806419    258.163080      2.763841
std       10.618762    3044.765829      8.322476    257.527812      3.098021
min       18.000000   -8019.000000      1.000000      0.000000      1.000000
25%       33.000000      72.000000      8.000000    103.000000      1.000000
50%       39.000000     448.000000     16.000000    180.000000      2.000000
75%       48.000000    1428.000000     21.000000    319.000000      3.000000
max       95.000000  102127.000000     31.000000   4918.000000     63.000000

              pdays      previous
count  45211.000000  45211.000000
mean      40.197828      0.580323
std      100.128746      2.303441
min       -1.000000      0.000000
25%       -1.000000      0.000000
50%       -1.000000      0.000000
75%       -1.000000      0.000000
max      871.000000    275.000000

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

This code will prompt you to authorize Google Drive access. Once authorized, your Drive will be mounted at `/content/drive`.

In [45]:
import pandas as pd

df = pd.read_csv("/content/drive/MyDrive/Bishal AI Nasty/medical_students_dataset.csv")

print(df.info())
print(df.isnull().sum())

num_cols = df.select_dtypes(include=['int64','float64']).columns
cat_cols = df.select_dtypes(include=['object']).columns

for col in num_cols:
    if df[col].isnull().sum() > 0:
        df[col] = df[col].fillna(df[col].mean())

for col in cat_cols:
    if df[col].isnull().sum() > 0:
        df[col] = df[col].fillna(df[col].mode()[0])

print(df.duplicated().sum())
df = df.drop_duplicates()

df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200000 entries, 0 to 199999
Data columns (total 13 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   Student ID      180000 non-null  float64
 1   Age             180000 non-null  float64
 2   Gender          180000 non-null  object
 3   Height          180000 non-null  float64
 4   Weight          180000 non-null  float64
 5   Blood Type      180000 non-null  object
 6   BMI             180000 non-null  float64
 7   Temperature     180000 non-null  float64
 8   Heart Rate      180000 non-null  float64
 9   Blood Pressure  180000 non-null  float64
 10  Cholesterol     180000 non-null  float64
 11  Diabetes        180000 non-null  object
 12  Smoking         180000 non-null  object
dtypes: float64(9), object(4)
memory usage: 19.8+ MB
None
Student ID        20000
Age               20000
Gender            20000
Height            20000
Weight            20000
Blood Type        20000
BMI               20000
Temperature       20000
Heart Rate        20000
Blood Pressure    20000
Cholesterol       20000
Diabetes          20000
Smoking           20000
dtype: int64
12572

,Student ID,Age,Gender,Height,Weight,Blood Type,BMI,Temperature,Heart Rate,Blood Pressure,Cholesterol,Diabetes,Smoking
0,1.000000,18.000000,Female,161.777924,72.354947,O,27.645835,98.600948,95.0,109.000000,203.0,No,No
1,2.000000,26.021561,Male,152.069157,47.630941,B,23.338869,98.714977,93.0,104.000000,163.0,No,No
2,3.000000,32.000000,Female,182.537664,55.741083,A,16.729017,98.260293,76.0,130.000000,216.0,Yes,No
3,49974.042078,30.000000,Male,182.112867,63.332207,B,19.096042,98.839605,99.0,112.000000,141.0,No,Yes
4,5.000000,23.000000,Female,174.947103,46.234173,O,23.338869,98.480008,95.0,114.558033,231.0,No,No

In [ ]:
import pandas as pd

df = pd.read_csv("/content/drive/MyDrive/Dataset/Titanic-Dataset.csv")

df_sub = df[['Name','Pclass','Sex','Age','Fare','Survived']]

df_first = df_sub[df_sub['Pclass'] == 1]

mean_fare = df_first['Fare'].mean()
median_fare = df_first['Fare'].median()
max_fare = df_first['Fare'].max()
min_fare = df_first['Fare'].min()

mean_fare, median_fare, max_fare, min_fare

In [ ]:
df_sub = df[['Name','Pclass','Sex','Age','Fare','Survived']]
df_first = df_sub[df_sub['Pclass'] == 1]

null_age = df_first['Age'].isnull().sum()
print("Null Age values:", null_age)

df_first = df_first.dropna(subset=['Age'])
df_first.head()

In [ ]:
onehot = pd.get_dummies(df['Embarked'], prefix='Embarked')
df2 = df
df2 = pd.concat([df2, onehot], axis=1)

df2 = df2.drop(columns=['Embarked'])

print(df2.head())

In [ ]:
import matplotlib.pyplot as plt

survival_rates = df2.groupby('Sex')['Survived'].mean()
print(survival_rates)

plt.figure(figsize=(6,4))
survival_rates.plot(kind='bar')
plt.title("Mean Survival Rate by Gender")
plt.ylabel("Survival Rate")
plt.xlabel("Gender")
plt.show()

In [ ]:
df3 = pd.read_csv("/content/drive/MyDrive/Dataset/Titanic-Dataset.csv")

survival_by_port = df3.groupby('Embarked')['Survived'].mean()
print(survival_by_port)

plt.figure(figsize=(6,4))
survival_by_port.plot(kind='bar')
plt.title("Mean Survival Rate by Port of Embarkation")
plt.ylabel("Survival Rate")
plt.xlabel("Embarked (C, Q, S)")
plt.show()